@charset "UTF-8";
/* 変数の設定 */
:root {
	/* 色管理用の変数 */
	--white-color: #fff;
	--black-color: #333333;
  --bg-color: rgba(0, 191, 255, 0.1);
	--main-color: #00BFFF;
	--sub-color: #FF8080;
	--primary-color: #FF0000;
  --shadow-1: #0080AA;
  --gray-color: #717171;
}
:root {
  /* フォント */
	--font: 'Zen Kaku Gothic New', sans-serif;
  --accent-font: "Dela Gothic One", sans-serif;
}
:root {
	/* z-index管理用の変数 */
	--z-index-bg: -2;
	--z-index-back: -1;
	--z-index-default: 1;
	--z-index-header: 100;
	--z-index-menu: 150;
	--z-index-top: 200;
	--z-index-modal: 300;
}
/* 共通 */
body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: var(--black-color);
}

/* 背景 */
.l_bg {
	display: none;
}
@media screen and (min-width: 768px) {
	.l_bg {
		width: 100vw;
		height: 100vh;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		overflow: hidden;
		z-index: var(--z-index-bg);
		opacity: 0.4;
	}
}
@media screen and (min-width: 1080px) {
	.l_bg {
		background-image: url(../img/背景.jpg);
		background-size: contain;
	}
}
.l_bg__wrap {
	width: 120vw;
	height: 105vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 80px;
	transform: rotate(4deg);
	margin-top: -25px;
  margin-left: -40px;
}
@media screen and (min-width: 1080px) {
	.l_bg__wrap {
		margin-top: -12px;
	}
}
.l_bg__top, .l_bg__bottom {
	background-color: var(--main-color);
	height: 200px;
	width: 100%;
}
	.l_bg__slide {
		overflow: hidden;
	}
	.l_bg__slide ul {
		animation: l_bg__slide 40s linear infinite;
		display: flex;
		margin: 0;
		padding: 0;
		width: max-content;
	}
	.l_bg__slide ul li {
		list-style: none;
		padding: 0 40px;
	}
	.l_bg__slide img {
		display: block;
		width: 600px;
		height: 500px;
		object-fit: cover;

	}
	@keyframes l_bg__slide {
		from {
			transform: translateX(-50%);
		}
		to {
			transform: translateX(0%);
		}
	}
	.l_bg__contact {
		display: none;
	}
	@media screen and (min-width: 1080px) {
		.l_bg__contact {
			display: block;
			position: fixed;
			height: 400px;
			width: calc(100% - 775px);
			right: 0;
			bottom: 0;
		}
		.l_bg__gif {
		position: absolute;
		width: calc(100% / 3);
		right: 50%;
		bottom: 0;
		z-index: var(--z-index-modal);
		}
		.l_bg__img {
			position: absolute;
			right: 20%;
			bottom: 0;
			width: calc(100% / 3);
		}
		.l_bg__img::before {
			content: "";
	width: 320px;
			height: 200px;
			background-image: url(../img/お問い合わせ.png);
			background-repeat: no-repeat;
			background-size: contain;
      position: absolute;
			top: -80px;
			left: -40px;
		}
	}

/* スクロール */
.l_content {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  z-index: var(--z-index-default);
	background: var(--white-color);
}
@media screen and (min-width: 768px) {
	.l_content {
		margin-left: 400px;
	}
}
.m_inner {
  padding: 120px 16px;
}
.m_inner:nth-child(even) {
	background: rgba(0, 191, 255, 0.1);
}
.m_section__ttl {
  font-size: 24px;
  color: var(--white-color);
  font-weight: bold;
	background: var(--main-color);
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
	width: 272px;
	height: 56px;
	position: relative;
}
.m_section__ttl::before {
	content: "";
	display: block;
	background: var(--main-color);
	width: 32px;
	height: 56px;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: -5%;
	z-index: var(--z-index-top);
}
.m_section__ttl::after {
	content: "";
	display: block;
	background: var(--shadow-1);
	width: 32px;
	height: 56px;
	position: absolute;
	border-radius: 50%;
	top: 0;
	right: -5%;
}

/* ヘッダー */
.l_header {
	position: fixed;
	width: 375px;
	height: 75px;
  top: 0;
  z-index: 999;
}
@media screen and (min-width: 768px) {
	.l_header {
		width: 400px;
		height: 100vh;
		left: 0;
	}
}
.l_header__inner {
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
	position: relative;
}
@media screen and (min-width: 768px) {
	.l_header__inner {
		flex-direction: column;
		padding: 40px 16px;
	}
}
.l_header-logo-wrap {
  width: 40px;
}
@media screen and (min-width: 768px) {
	.l_header-logo-wrap {
		width: 200px;
		height: 160px;
	}
}
.l_header-logo {
  height: 40px;
	object-fit: contain;
}
@media screen and (min-width: 768px) {
	.l_header-logo {
		height: 160px;
	}
}
.l_header-ttl {
	display: none;
}
@media screen and (min-width: 768px) {
	.l_header-ttl {
		display: block;
		font-size: 24px;
		font-family: var(--accent-font);
	}
}
.nav {
	display: none;
	position: absolute;
	right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
	transform: translateX(-100%);
  transition: ease .2s;
}
@media screen and (min-width: 768px) {
	.nav {
		margin-top: 40px;
		position: static;
		display: block;
		transform: translateX(0);
		background: none;
		height: 100%;
		width: 300px;
	}
}
.l_header__nav-list {
	color: var(--white-color);
	font-weight: bold;
	font-size: 24px;
}
@media screen and (min-width: 768px) {
	.l_header__nav-list {
		color: var(--shadow-1);
		text-shadow: 2px 2px 0 var(--white-color);
		width: 100%;
	}
}
.nav-items {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
	display: flex;
	flex-direction: column;
	gap: 80px;
	align-items: center;
}
@media screen and (min-width: 768px) {
	.nav-items {
		gap: 24px;
	}
}
@media screen and (min-width: 1080px) {
	.nav-items {
		gap: 40px;
	}
}
/* ハンバーガー */
.l_header__hamburger {
	width: 40px;
	height: 40px;
	position: relative;
}
@media screen and (min-width: 768px) {
	.l_header__hamburger {
		display: none;
	}
}
.hamburger {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	padding: 8px;

}
.hamburger span {
	position: relative;
	display: inline-block;
	transition: all .2s;
	display: block;
	width: 24px;
  height: 2px;
  background-color: var(--primary-color);
}
.hamburger span:nth-of-type(3)::after {
	content:"Menu";
  position: absolute;
  top:2px;
  left:-2px;
  color: var(--primary-color);
  font-size: 10px;
	font-weight: bold;
  text-transform: uppercase;
}
.hamburger span:nth-child(1) {
  top: -10px;
}
.hamburger span:nth-child(2) {
  top: -6px;
}
.hamburger span:nth-child(3) {
	top: -2px;
}
/* クリック後 */
.nav.active {
	display: block;
  transform: translateX(0);
}
.hamburger.active span:nth-of-type(1) {
	transform: translateY(6px) rotate(-45deg);
	width: 24px;
}
.hamburger.active span:nth-of-type(2) {
opacity: 0;
}
.hamburger.active span:nth-of-type(3){
	transform: translateY(-6px) rotate(45deg);
	width: 24px;
}
.hamburger.active span:nth-of-type(3)::after {
content:"Close";
font-size: 10px;
font-weight: bold;
	transform: translateY(0) rotate(-45deg);
top:5px;
left:6px;
}

/* KV */
.l_kv {
	width: 375px;
	height: 100vh;
	background-image: url(../img/KV.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 54%;
	position: relative;
}
.l_kv__top {
	position: absolute;
	background-color: var(--main-color);
	height: 160px;
	width: 100%;
  top: 0;
	clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
	position: relative;
}
.u_top__ttl1::after {
	content: "うさぎとかめRC";
	position: absolute;
	font-family: var(--accent-font);
	color: var(--white-color);
	font-size: 32px;
	rotate: -10deg;
  top: 40px;
	left: 24px;
}

.l_kv__bottom {
	position: absolute;
	background-color: var(--main-color);
	height: 160px;
	width: 100%;
	bottom: 0;
	clip-path: polygon(0 42%, 100% 3%, 100% 100%, 0 100%);
}
.u_top__ttl2::before {
	content: "";
	position: absolute;
	width: 264px;
	height: 16px;
	rotate: -10deg;
	background-color: var(--sub-color);
	top: 65px;
	left: 36px;
}
.u_top__ttl2::after {
	content: "“走ることが楽しい”の第一歩をここで";
	text-align: end;
	width: 320px;
	position: absolute;
	font-family: var(--accent-font);
	color: var(--white-color);
	font-size: 32px;
	rotate: -10deg;
  top: 35px;
	left: 25px;
}

/* ごあいさつ */
.top_greeting {
	margin-bottom: 40px;
}
.top_greeting__wrap {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
.top_greeting__wrap-img {
	width: 160px;
  border-radius: 20%;
	box-shadow: 8px 8px 0 0 var(--shadow-1);
}
.top_greeting__wrap-name {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: end;
}
.top_greeting__wrap-ruby {
	font-size: 10px;
}
.u_ruby {
	margin-right: 16px;
}
.top_greeting__wrap-txt {
	font-size: 24px;
	font-weight: bold;
	background-image: linear-gradient(transparent 60%, var(--sub-color) 0%);
}
.top_greeting__txt {
	position: relative;
	width: 300px;

}
.top_greeting__img {
	width: 135px;
  margin-left: auto;
	margin-top: -25px;
}

/* コース紹介 */
.top_coures__wrap {
	margin-top: 80px;
}
.top_coures__wrap-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.top_coures__kids-img {
	width: 200px;
}
.top_coures__adult-img {
	width: 240px;
	height: 160px;
	box-shadow: 8px 8px 0 0 var(--shadow-1);
}
.top_coures__wrap-ttl {
	font-size: 24px;
	font-weight: bold;
	color: var(--main-color);
}
.top_coures__wrap-nate {
	font-size: 14px;

}
.top_coures__rink-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_coures__wrap-rink {
  font-weight: bold;
  color: var(--white-color);
	background: var(--primary-color);
	padding: 8px 48px 8px 16px;
	position: relative;
	transition: .2s;
}
.top_coures__wrap-rink:hover {
  background: var(--white-color);
  color: var(--primary-color);
}
.top_coures__wrap-rink::before {
	content: "";
	display: block;
	height: 24px;
	width: 24px;
	background: var(--white-color);
	border-radius: 50%;
  position: absolute;
	right: 16px;
}
.top_coures__wrap-rink::after {
	content: "";
	width: 8px;
  height: 8px;
  border-top: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  position: absolute;
  top: 50%;
	right: 26px;
  transform: translateY(-50%) rotate(45deg);
}
.top_coures__wrap-img {
  width: 135px;
}
.top_coures__sns {
	margin-top: 80px;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	position: relative;
}
.top_coures__sns-accent {
	position: absolute;
	top: 24px;
	left: 0;
}
.top_coures__sns-wrap {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	gap: 43px;
}
.top_coures__sns-img {
	width: 120px;
}
.top_coures__sns-inst {
  width: 100px;
}

/* 料金表 */
.top_tariff__wrap {
	background: var(--main-color);
	color: var(--white-color);
	font-weight: bold;
	padding: 32px 24px;
	text-align: center;
  width: 300px;
	box-shadow: 0 4px 0 0 var(--shadow-1);
}
.wrap-1 {
  margin-top: 80px;
	border-top-right-radius: 8%;
	border-bottom-right-radius: 8%;
}
.wrap-2 {
	margin: 40px 43px 0;
	border-top-left-radius: 8%;
	border-bottom-left-radius: 8%;
}
.top_tariff__ttl {
	font-size: 24px;
	font-weight: bold;
	border-bottom: solid 2px var(--white-color);
	
}
.top_tariff__ttl-sub {
	font-size: 14px;
}
.top_tariff__table {
	margin-top: 24px;
}
.top_tariff__th {
	font-size: 16px;
	margin-right: 16px;
	text-align: center;
}
.top_tariff_td {
	font-size: 32px;
	text-align: right;
	position: relative;
}
.top_tariff__td-sub {
	font-size: 14px;
}
.top_tariff__th, .top_tariff_td {
	padding: 8px;
}
.u_little {
	font-size: 16px;
  position: absolute;
  top: 33%;
	left: 0;
}
.top_tariff__note-rink {
	font-weight: bold;
	color: var(--primary-color);
	border-bottom: #FF8080 solid 2px;
	transition: .2s;
}
.top_tariff__note-rink:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
.top_tariff__note {
	font-size: 14px;
	margin: 16px 0;
}
.top_tariff__note:last-of-type {
  text-align: right;
}
.top_tariff__free {
	margin-top: 40px;
	margin: 0 auto;
  width: 75%;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	background-image: linear-gradient(transparent 60%, var(--sub-color) 0%);
}
.top_tariff__perk {
	width: 100px;
	margin-top: 40px;
  margin-left: auto;
	margin-right: auto;
	position: relative;
}
.top_tariff__perk::before {
	content: "さらに！";
	font-weight: bold;
	position: absolute;
	top: -12px;
	left: 18%;
} 
.top_tariff__perk-txt1 {
  margin: 40px 0 8px;
}
.top_tariff__ul {
	width: 80%;
	margin: 0 auto;
}
.top_tariff__li {
	list-style-type: disc;/* リストの左側に黒丸 */
	margin-left: 70px;/* リストの左側に余白 */
	text-align: left;
	font-weight: bold;
}
.top_tariff__li::marker {
	color: var(--main-color);
	font-size: 1em;
}
.top_tariff__li-cautionary {
	display: block;
  width: 90%;
	text-align: right;
}
.top_tariff__perk-txt2 {
  margin: 0 auto;
  width: 170px;
	font-weight: bold;
	font-size: 24px;
	background-image: linear-gradient(transparent 60%, var(--sub-color) 0%);
}
.top_tariff__perk-txt3 {
	text-align: right;
  margin: 8px 0;
}
.top_tariff__perk-img {
	width: 120px;
  margin: 0 auto;                 
}
.top_tariff__rink-wrap {
margin-top: 24px;
/* text-align: center; */
}
.top_tariff__p {
	font-weight: bold;
  color: var(--white-color);
	background: var(--sub-color);
	padding: 8px;
}
/* 特典完成後使用！ */
/* .top_tariff__rink {
  font-weight: bold;
  color: var(--white-color);
	background: var(--primary-color);
	padding: 8px 48px 8px 16px;
	position: relative;
}
.top_tariff__rink::before {
	content: "";
	display: block;
	height: 24px;
	width: 24px;
	background: var(--white-color);
	border-radius: 50%;
  position: absolute;
	right: 16px;
}
.top_tariff__rink::after {
	content: "";
	width: 8px;
  height: 8px;
  border-top: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  position: absolute;
  top: 50%;
	right: 26px;
  transform: translateY(-50%) rotate(45deg);
} */

/* お問い合わせ */	
.top_contact__txt {
	margin-top: 80px;
}
.top_contact__form {
	margin-top: 40px;
	padding: 0 8px;
}
.top_contact__dl {
	font-weight: bold;
}
.top_contact__dt {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top_contact__required {
	font-size: 10px;
	color: var(--white-color);
	background: var(--primary-color);
	width: 36px;
	height: 16px;
	text-align: center;
	border-radius: 5px;
}
.top_contact__dd {
	margin-top: 8px;
	font-weight: normal;
	display: flex;
	gap: 8px;
}
.top_contact__name {
	width: 160px;
	height: 40px;
	background: var(--white-color);
	padding: 8px;
	border-radius: 10px;
	border: var(--main-color) solid 1px;
}
.top_contact__dt {
	margin-top: 24px;
}
.top_contact__blank {
	width: 100%;
	height: 40px;
	background: var(--white-color);
	padding: 8px;
	border-radius: 10px;
	border: var(--main-color) solid 1px;
}
.top_contact__ul {
	display: flex;
	gap: 24px;
}

.top_contact__check {
	appearance: auto;
}


.top_contact__textarea {
	background: var(--white-color);
	border: 1px solid var(--main-color);
	border-radius: 5px;
	padding: 8px;
}
.top_contact__privacy {
  margin-top: 40px;
	text-align: center;
	
}
.top_contact__privacy-check {
	appearance: auto;
}
/* modal */
.top_contact__policy {
	display: inline-block;
}
.top_contact__policy input {
	display: none;
}
.modal-1__open-label,
.modal-1__close-label {
	cursor: pointer;
}

.modal-1__open-label {
	color: var(--main-color);
	font-size: .95em;
}

.modal-1__open-label:hover {
	text-decoration: underline;
	cursor: pointer;
	color: var(--primary-color);
}

.modal-1 {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
}

.modal-1__open-input:checked + label + input + .modal-1 {
	display: block;
	animation: modal-1-animation .6s;
}

.modal-1__content-wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 650px;
	background-color: var(--white-color);
	z-index: 2;
	border-radius: 5px;
}

.modal-1__close-label {
	background-color: var(--main-color);
	color: var(--white-color);
	border: 2px solid var(--white-color);
	border-radius: 20px;
	width: 36px;
	height: 36px;
	line-height: 1.5;
	text-align: center;
	display: table-cell;
	position: fixed;
	top: -15px;
	right: -2%;
	z-index: 99999;
	font-size: 1.4em;
}

.modal-1__content {
	max-height: 50vh;
	overflow-y: auto;
	padding: 40px;
	text-align-last: left;
	font-weight: normal;
}

.modal-1__background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .45);
	z-index: 1;
}

@keyframes modal-1-animation {
	0% {
			opacity: 0;
	}
	100% {
			opacity: 1;
	}
}

@media only screen and (max-width: 520px) {
	.modal-1__open-label {
			max-width: 90%;
			padding: .94em 2.1em .94em 2.6em;
	}

	.modal-1__close-label {
			top: -17px;
			right: -4%;
	}

	.modal-1__content-wrap {
			width: 90vw;
	}

	.modal-1__content {
			padding: 33px 21px 35px;
			max-width: 100%;
	}
}
/*  */

.top_contact__accent {
	border-bottom: none;
	color: var(--black-color);
	font-weight: normal;
}
.top_contact__btn {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	color: var(--white-color);
	text-align: center;
	width: 192px;
	height: 40px;
	background: var(--primary-color);
	padding: 8px 80px 8px 48px;
	position: relative;
	transition: .2s;
}
.top_contact__btn:hover {
  background: var(--white-color);
  color: var(--primary-color);
}
.top_contact__btn::before {
	content: "";
	position: absolute;
	display: block;
	height: 24px;
	width: 24px;
	background: var(--white-color);
	border-radius: 50px;
  right: 16px;
}
.top_contact__btn::after {
	content: "";
	display: block;
	width: 8px;
  height: 8px;
  border-top: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  position: absolute;
  top: 50%;
  right: 26px;
  transform: translateY(-50%) rotate(45deg);
}

/* フッター */
.top_footer {
	height: 40px;
	background: var(--main-color);
	display: flex;
	justify-content: center;
	padding: 12px;
}
.top_footer__cr {
	color: var(--white-color);
}

/* 下層ページ */
/* トプ画 */
.m_top {
	background: var(--white-color);
	display: flex;
  flex-direction: column;
	justify-content: space-between;
}
.m_accent {
	width: 100%;
	height: calc((100% - 540px) / 2);
	background: var(--main-color);
}
.m__top {
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
}
.m__bottom {
	clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
}
.m_kv__content {
	padding: 16px;
	height: 460px;
}
.m_kv__course {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: var(--white-color);
	-webkit-text-stroke: 2px var(--primary-color);
}
.m_kv__img-wrap {
	margin-top: 40px;
	height: 240px;
	position: relative;
	
}
.m_kv__sub-img {
  position: absolute;
	width: 90px;
	bottom: 0;
	right: 5%;
}
.m_kv__ttl {
	margin-top: 32px;
  font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.m_kv__accent {
	background-image: linear-gradient(transparent 60%, var(--sub-color) 0%);
}
.m_kv_txt {
	margin-top: 16px;
}
.m_inner__lo {
  padding: 120px 16px;
}
.m_inner__lo:nth-child(odd) {
	background: rgba(0, 191, 255, 0.1);
}

/* 講師紹介 */
.lo_lecturer__inner {
	margin-top: 80px;
}
.lo_lecturer__wrap {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.lo_lecturer__wrap:not(:first-child) {
  margin-top: 48px;
}
.lo_lecturer__img-wrap {
	width: 160px;
	height: 160px;

}
.lo_lecturer__name {
	font-weight: bold;
	font-size: 24px;
}

/* 練習内容 */
.lo_practice__inner {
	margin-top: 80px;
}
.lo_practice__wrap:not(:first-child) {
  margin-top: 48px;
}
.lo_practice__unit {
	display: flex;
	align-items: center;
  justify-content: space-around;
}
.lo_practice__unit:nth-child(even) {
	flex-direction: row-reverse;
}
.lo_practice__img-wrap {
	width: 200px;
	height: 160px;
}
.lo_practice__ttl {
	font-weight: bold;
	font-size: 20px;
  color: var(--main-color);
	text-align: center;
}
.lo_practice__txt {
	margin-top: 16px;
	padding: 0 24px;
}
.m_rink__btn {
	margin-bottom: 120px;
	font-weight: bold;
	color: var(--main-color);
	padding: 16px;
  transition: .2s;
}
.m_rink__btn:hover {
  color: var(--primary-color);
}
.m_rink {
	display: flex;
	gap: 8px;
	align-items: center;
}
.m_rink__arrow {
	display: block;
	width: 24px;
	height: 24px;
	background: var(--main-color);
	border-radius: 50%;
	position: relative;
}
.m_rink__arrow::before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--white-color);
  border-right: 2px solid var(--white-color);
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%) rotate(-135deg);
}
/* 子供コース */
.u_child {
	font-family: var(--accent-font);
	font-weight: normal;
}

/* 大人コース */
.u_adult {
	border-radius: 20px;
	box-shadow: 8px 8px 0 0 var(--shadow-1);
	object-fit: cover;
}
.u_adult__img {
	box-shadow: 8px 8px 0 0 var(--shadow-1);
}
.m_note {
	padding: 16px 32px;
  margin-top: 120px;
	background: rgba(0, 191, 255, 0.1);
	border-top: solid 16px var(--main-color);
}
.m_note__txt {
	margin: 0; 
	padding: 0;
}
.m_note__rink {
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
  text-align: center;
	display: block;
	width: 160px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: var(--main-color);
  border: solid 2px var(--main-color);
  border-radius: 3px;
  transition: .2s;
}
.m_note__rink:hover {
  background: var(--main-color);
  color: var(--white-color);
}